<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mx.upcrapbaba.sms">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">
        <activity
            android:name=".views.personalizacion.Add_Edit_Asignaturas"
            android:windowSoftInputMode="adjustPan|adjustResize"
            android:parentActivityName=".views.inicio.Inicio" />
        <activity
            android:name=".views.user_settings.User_Profile"
            android:parentActivityName=".views.inicio.Inicio" />
        <activity android:name=".views.inicio.Inicio" />
        <activity
            android:name=".views.splash.SplashScreen"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.sesion.Register"
            android:parentActivityName=".views.sesion.Login" />
        <activity android:name=".views.sesion.Login" />
    </application>

</manifest>